# Part 1: Data Types & Variables & Built in functions & String and more basics

### 1. Python data types
- Different fundamentals data type: int, float, bool, str
- different data structure: list, tuple, set, dict
- Custom types --> class
- Specialized type --> modules

In [9]:
# Data types examples


# Use type() built in function
type('Pejman')

str

### 2. Variables

In [11]:
# snake_case
# start with lowercase
# case sensetive
# not started with numbers
# don't overwrite keywords
# Python keywords: https://www.w3schools.com/python/python_ref_keywords.asp
# Constant


my_name = "Pejman"
color = "Blue"
score = 20
average_score = 10.67
is_continue = True


# CONSTANT
PI = 3.14
RULE = False

### 3. Built in functions & Formatted string

In [20]:
# print, abs, round

my_name = "Pejman"
my_score = -19
my_number = 3.11345657897644

# print(my_name) # print the variable name

# print(abs(my_score))

# print(round(my_number, 4))

# formatted string
print(f"My name is: {my_name}, and my score is: {abs(my_score)}, and my favorite float num is: {round(my_number, 2)}")

My name is: Pejman, and my score is: 19, and my favorite float num is: 3.11

### 4. Operator precedence

In [32]:
# (), * /, ...
# https://www.w3schools.com/python/python_operators_precedence.asp

3 * 7 - 2 * 2


10 % 3

not(False)

True

### 5. Expression & Statement

In [33]:
my_cal = 3 * 6

### 6. Augmented assignment operator (+=, -=, ...)

In [41]:
my_num = 10


# my_num = my_num + 5
my_num /= 5

# print(my_num)



1 == 1
5 != 4

True

### 7. String

In [72]:
# Input() function
# my_name = input("What is your name? ")
# print(f"Ok! your name is: {my_name}")

# num = int(input("Please give me a number: "))
# print(f"Your chance number is: {num}")
# print(type(num))


# String concatanation
# name = "Sara"
# family = "lokmann"

# print(name + " " + family)

# String indexes - [start:stop:step] --> index in python start from 0
my_string = "Budapest is a pretty city"
my_str = 'abcd'
my_string[::]

# String methods - # String methods in Python: https://www.w3schools.com/python/python_ref_string.asp
my_str.capitalize()
my_str.upper()
my_string.lower()
my_string.count('a')
# print(f"In {my_string}, we have {my_string.count('a')} 'a' letter.")
my_str.index('a')
my_str.replace("a", "z")
my_string.split()

# Immutability
# String is not mutable

['Budapest', 'is', 'a', 'pretty', 'city']

### 8. Type conversion

In [73]:
number = 7
print(type(number))

# Convert int to str

num_to_str = str(number)

print(type(num_to_str))

<class 'int'>
<class 'str'>

### 9. Booleans

In [74]:
True, False

(True, False)